@using TravelShare.Web.Areas.Administration.Models.NewsManagement;
@model SingleNewsModel

<div class="col-sm-12 user-list-item">

    <div class="col-sm-5 u-name">
        @Model.Title
    </div>


    <div class="col-sm-5 u-email">
        @Model.Content
    </div>
    <div class="col-sm-2 u-details">
        Deleted
    </div>
</div>
