
<div class="row">
    @Html.ActionLink("Add News", "AddNews", null, new { @class = "btn btn-default btn-lg active" })
    @Html.ActionLink("Remove News", "DeleteNews", null, new { @class = "btn btn-default btn-lg active" })
</div>
