
<div class="row">
    <div class="col-lg-offset-4">
        @Html.ActionLink("Add News", "AddNews", null, new { @class = "btn  btn-primary btn-lg active" })
        @Html.ActionLink("Remove News", "DeleteNews", null, new { @class = "btn btn-primary btn-lg active" })
    </div>
   
</div>
